@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


:root {
    --cor0: #ffff;
    --cor1: #DF5D00;
    --cor2: #000;
    --cor3: #F7A307;
    --cor4: #00A7E1;
    --cor5: #272727;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Caveat', cursive;
    --fonte-titulo: 'Anton', sans-serif;;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: var(--cor0);
    margin: 0;
    padding: 0;
    font-family: var(--font-padrao);
    background-color: var(--cor0);
    color: var(--cor5);
}
header {
    background-color: var(--cor5);
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #222;
    padding: 15px 40px;
}

header nav {
    font-family: var(--font-padrao);
    text-align: center;
    padding:  0px 200px 0px 0px;
    }
    

nav > a {
    color: var(--cor0);
    padding: 5px 10px;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    }



header p {
    color: var(--cor0);
    text-align: left;
    padding:  0px 0px 5px 60px;
}

h1 {
    font-family: var(--fonte-destaque);
    color: var(--cor3);
    text-align: left;
    font-size: 70px;
    padding: 0px 0px 0px 40px;
    margin: 0px 0px -15px 0px; 
}

article {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: var(--cor0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1#titulo {
    font-family: var(--fonte-titulo);
    text-align: left;
    color: #000;
    font-size: 50px;
    margin: 50px 0px 25px 0px;
}

article p {
    margin: 50px;
    text-align: justify;
}

footer {
    background-color: var(--cor5);
    width: 100%;
    height: 150px;
    text-align: center;
}

footer p {
    padding: 50px;
    color: var(--cor3);
}

footer a {
     color: var(--cor3);
}
