@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


:root {
    --cor0: #ffff;
    --cor1: #DF5D00;
    --cor2: #000;
    --cor3: #FFECD1;
    --cor4: #00A7E1;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Caveat', cursive;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: var(--cor0);
    margin: 0;
    padding: 0;
    font-family: var(--font-padrao);
    background-color: var(--cor0);
    color: var(--cor5);
}
header {
    background-color: var(--cor2);
    text-align: center;
}
nav {
    font-family: var(--font-padrao);
    background-color: var(--cor3);
    text-align: center;
}
nav a {
    color: var(--cor2);
}

nav a.fundamental-um {
    padding: 50px;
}

header p {
    color: var(--cor3);
    text-align: left;
    padding: 0px 0px 50px 60px;
}

h1 {
    font-family: var(--fonte-destaque);
    color: var(--cor3);
    text-align: left;
    font-size: 70px;
    padding: 40px 0px 0px 40px;
    margin: 0px 0px -15px 0px; 
}

article {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: var(--cor0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.192);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

footer {
    background-color: var(--cor2);
    width: 100%;
    height: 100px;


}